@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@property --gap{
  syntax: '<length>';
  inherits: true;
  initial-value: 0;
}
@property --angle{
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

#app {
  position: relative;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 30px 30px;
}

.hero {
  display: flex;
  flex-direction: column;
  padding-top: 95px;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 86px;
  padding: 30px 20px 0px;
  margin-bottom: 0px;
}

.dp {
  --border: 15px;
  --gap: 12px;
  --color: #064057;
  
  width: 400px;
  aspect-ratio: 1;
  box-sizing: border-box;
  border-radius: 50%;
  margin: 20px;
  cursor: pointer;
  padding: calc(var(--border) + var(--gap));
  
  --angle: 90deg;
  background:
    radial-gradient(farthest-side,var(--color) 97%,#0000 101%) 85.35% 85.35%,
    conic-gradient(from calc(180deg - var(--angle)/2),#0000 var(--angle),var(--color) 0),
    radial-gradient(farthest-side,var(--color) 97%,#0000 101%) 14.65% 85.35%;
  background-size: var(--border) var(--border),auto;
  background-repeat: no-repeat;
  
  -webkit-mask:
    radial-gradient(farthest-side, 
     #000  calc(99%  - calc(var(--border) + var(--gap))),
     #0000 calc(100% - calc(var(--border) + var(--gap))) 
           calc(99%  - var(--border)), 
     #000  calc(100% - var(--border)));
          mask:
    radial-gradient(farthest-side, 
     #000  calc(99%  - calc(var(--border) + var(--gap))),
     #0000 calc(100% - calc(var(--border) + var(--gap))) 
           calc(99%  - var(--border)), 
     #000  calc(100% - var(--border)));
  transition: --angle .5s,--gap .30s;
}
img:hover {
  --angle: 0deg;
  --gap: 2px;
}

.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.track-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.track {
  font-size: 32px;
}

.hng-img {
  height: 66px;
  width: 312px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background: skyblue;
  padding: 30px 20px;
  
}

span {
  font-size: 12px;
  font-weight: light;
  color: rgb(78, 76, 76);
  padding-bottom: 30px;
}

.divider {
  width: 80px;
  height: 1px;
  background: #ffff;
  border-radius: 10%;
  margin-top: -30px;
}

.info {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.hng-url {
  cursor: pointer;
}

.menu {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.slack-name {
  margin-top: -10px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .info {
    flex: none;
    margin: 10px 0;
  }

  .divider {
    display: none;
  }

  .span {
    padding-bottom: 0px;
  }
  .info-0 {
    margin-bottom: -40px;
  }
}
